{% extends 'layout.html' %}

{% block title %}

<div class="column">
  <center>

    <div class="row">
      <p> </p>
    </div>

    <div class="row">
      <h1 class="display-3" align="center">REDES DE COMUNICAÇÕES SEM FIO</h1>    
    </div>

    <div class="row">
      <p> </p>
    </div>

    <div class="row">
        <center>
            {% load static %} 
            <img src="{% static "index.jpg" %}" alt="index.jpg" width="70%"> 
        </center>
    </div>

    <div class="row">
      <h3 align="justify">
        <br>
        Este site foi desenvolvido no âmbito da disciplina de Redes de comunicações 
        sem fios e apresenta alguns conceitos fundamentais e características das 
        diversas gerações e sistemas de redes móveis desde GSM, UMTS, LTE, 5G assim 
        como WiFi. Apresenta também alguns modelos de propagação e dimensionamento 
        das redes móveis.
        <br>                
      </h3> 
    </div>

  </center>

</div>
  
{% endblock %}

{% block main %}
    
{% endblock main %}
